{% extends 'blog/base.html' %}
{% block title %}博客详细页面{% endblock %}
{% load static %}
{% block css %}
    <link href="{% static 'blog/css/github-markdown.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!--展示标题-->
                <h1>{{ entry.title }}</h1>
                <!--展示博文信息-->
                <p>
                    <strong>{{ entry.author }}</strong>

                    &nbsp;&nbsp;&nbsp;&nbsp;{{ entry.created_time | date:'Y年m月d日'}}

                    &nbsp;&nbsp;&nbsp;&nbsp;分类：
                    {% for category in entry.category.all %}
                        &nbsp;&nbsp;<a href="{% url 'blog:blog_category' category.id %}">{{ category.name }}</a>
                    {% endfor %}

                    &nbsp;&nbsp;&nbsp;&nbsp;标签：
                    {% for tag in entry.tags.all %}
                        &nbsp;&nbsp;<a href="{% url 'blog:blog_tag' tag.id %}">{{ tag.name }}</a>
                    {% endfor %}

                    &nbsp;&nbsp;&nbsp;&nbsp;浏览量：
                        &nbsp;&nbsp;{{ entry.visiting }}
                </p>

                <!--展示配图-->
                {% if entry.img %}
                    <div><img src="{{ entry.img.url }}" alt="博客配图" width="75%" /></div>
                {% endif %}

                <hr />

                <!--安全展示markdown内容-->
                <p>
                    {{ entry.toc | safe }}
                    {{ entry.body | safe }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}